/*Custom styles for Journey*/
    
html {
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}
a {
	color: #abb2c5;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover {
	text-decoration: none;
	color: #abb2c5;
	opacity: 0.8;
}
body {
	width: 100%;
	height: 100%;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
.journey-navbar {
	background: none;
	border: 0;
	width: 100%;
}
.journey-navbar .navbar-nav {
	display: inline-block;
	float: none;
	margin: 0 auto;
	padding-bottom: 20px;
	text-shadow: 1px 1px 10px rgba(95, 95, 95, 0.4);
}
.journey-navbar a {
	color: #000;
}
.passport-journal {
	display: table;
	background-image: url(../images/overlay.png);
	width: 100%;
	height: auto;
	min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	color: #888;
	padding: 100px 20px;
	background-attachment: scroll;
}
.video-log {
	display: table;
	background-image: url(../images/story_03.png);
	width: 100%;
	height: auto;
	min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	color: #888;
	padding: 100px 20px;
	background-attachment: scroll;
	margin-bottom: -20px;
}
.trip-tag {
	color: #2C526A;
	font-weight: bold;
}
.author {
	color: #FFFFFF;
	margin-top: -25px;
	font-size: 12px;
}
.first-para {
	margin-top: 44px;
}
.passport-journal hr {
	height: 7px;
	background: #fff;
	width: 80px;
	margin: 0 auto;
}
.passport-journal .passport-body {
	display: table-cell;
	vertical-align: middle;
}
.passport-journal .passport-body .passport-heading {
	font-size: 18px;
	color: #fff;
	letter-spacing: 3px;
}
.passport-journal .passport-body .passport-heading:hover {
	cursor: pointer;
}
.passport-journal .passport-body .passport-text {
	font-size: 1em;
	line-height: 2.2em;
	color: #8f9295;
	text-align: center;
}
.single-card {
	padding: 4% 0 0 0;
}
.heading-stories {
	padding: 50px 0;
	line-height: 1.6em;
	font-size: 1.6em;
}
hr {
	height: 4px;
	background: #e3e5e5;
	width: 100px;
	margin: 1em auto 0 auto;
}
.stories-content {
	padding: 0 15px;
}
.stories-content img:nth-child(1) {
	width: 100%;
}
.journey-highlight {
	color: #fff;
	padding-left: 15px;
	line-height: 1em;
	font-size: 1.6em;
}
.journey-highlight hr {
	margin: 10px 0 20px 0;
	width: 100%;
	height: 2px;
}
.second-row-boxes div[class*="col"]:nth-child(3) {
	margin-top: 4em;
}
.intro .intro-body .brand-heading {
	font-size: 4em;
	letter-spacing: 0em;
	text-shadow: 1px 1px 10px rgba(95, 95, 95, 0.4);
}
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../images/hero.jpg) no-repeat top center;
	-webkit-background-attachment: scroll;
	-moz-background-attachment: scroll;
	background-attachment: scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.trip {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-attachment: scroll;
	-moz-background-attachment: scroll;
	background-attachment: scroll;
	background-color: #658EA7;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	vertical-align: middle;
	background-image: url(url);
}
.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
	-webkit-animation: fadein 2s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s;
	/* Firefox < 16 */
	-ms-animation: fadein 2s;
	/* Internet Explorer */
	-o-animation: fadein 2s;
	/* Opera < 12.1 */
	animation: fadein 2s;
}
 @keyframes fadein {
 from {
 opacity: 0;
}
 to {
 opacity: 1;
}
}
    /* Firefox < 16 */
    
    @-moz-keyframes fadein {
 from {
 opacity: 0;
}
 to {
 opacity: 1;
}
}
    /* Safari, Chrome and Opera > 12.1 */
    
    @-webkit-keyframes fadein {
 from {
 opacity: 0;
}
 to {
 opacity: 1;
}
}
    /* Opera < 12.1 */
    
    @-o-keyframes fadein {
 from {
 opacity: 0;
}
 to {
 opacity: 1;
}
}
.intro .intro-body .brand-heading {
	font-size: 40px;
}
.carousel-inner .item img {
	width: 100%;
}
.journey-highlight mark {
	background: #000;
	color: #fff;
}
.second-row-boxes {
	padding-bottom: 3em;
}
.third-row-boxes {
	padding-top: 0;
	margin-top: 0;
}
.img-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.create {
	border-radius: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #C3C6CE;
	line-height: 2em;
	letter-spacing: 2px;
	border: 3px solid #fff;
}
.create:hover {
	border-radius: 0px;
	border: 3px solid #fff;
	font-size: 14px;
	font-weight: bold;
	color: #C3C6CE;
	line-height: 2em;
	letter-spacing: 2px;
}
.grid {
	padding: 0px;
	background-color: #061722;
}
.grid > .thumbnail {
	margin-bottom: 0;
}
.hero_name {
	font-size: 18px;
	color: #abb2c5;
}
.tag {
	font-size: 12px;
	color: #000;
}
.twitter {
	width: 60px;
	height: 60px;
	color: #fff;
	background: #FFF;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -30px 42px 0 0;
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-radius: 0px;
	border: 0px;
}
.twitter:hover {
	opacity: 0.8;
	cursor: pointer;
	border-radius: 6px;
}
.svg-twitter {
	color: #545454;
	-webkit-transform: rotate(-45deg) translate(0%, 50%);
	-moz-transform: rotate(-45deg) translate(0%, 50%);
	-ms-transform: rotate(-45deg) translate(0%, 50%);
	transform: rotate(-45deg) translate(0%, 50%);
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
	position: absolute;
	font-size: 200%
}
.twitter-icon {
	width: 30px;
	padding-left: 3px;
}
.connect {
	padding-top: 0;
	padding-bottom: 0;
}
.stories-content:nth-child(3) p {
	margin: 0;
}
.grid hr {
	margin: 0 0 15px 0;
}
.play {
	width: 50px;
	transition: all .4s ease-in-out;
}
.play:hover {
	cursor: pointer;
	opacity: 0.5;
}
.tag mark {
	background: #fff;
}
.nav > li > a:focus {
	text-decoration: none;
	background-color: rgba(255, 0, 0, 0);
}
.journey-navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	text-transform: uppercase;
	background-color: #000;
}
.journey-navbar .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #000;
	z-index: 300;
}
.journey-navbar .navbar-toggle:focus, .journey-navbar .navbar-toggle:active {
	outline: 0;
}
.journey-navbar .nav li.active {
	outline: none;
}
.journey-navbar .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.journey-navbar {
	position: fixed;
	top: 0;
	margin-bottom: 0;
	border-bottom: 0;
	text-transform: uppercase;
	background-color: rgba(232, 232, 232, 0.9);
	z-index: 3;
	margin-left: -15px;
}
.journey-navbar .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	float: left;
	color: #000;/*    color: #fff;*/
}
.journey-navbar .navbar-toggle:focus, .journey-navbar .navbar-toggle:active {
	outline: 0;
}
.journey-navbar .nav li a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.journey-navbar .nav li a:hover {
	outline: 0;
	background-color: rgba(255, 255, 255, 0);
	color: #244C73;
}
.intro {
	display: table;
	width: 100%;
	height: 70vh;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../images/hero.jpg) no-repeat top center;
	-webkit-background-attachment: scroll;
	-moz-background-attachment: scroll;
	background-attachment: scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
body h4 {
	margin: 20px 0;
}
body h4:hover {
	cursor: pointer;
	opacity: 0.8;
}
body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.8em;
	color: #8f9295;
}
.cards-section {
	margin-top: 1.6em;
	padding: 0 15px 0 15px;
}
.footer {
	background-color: #061722;
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 12px;
	color: #abb2c5;
	letter-spacing: 1px;
}
.footer_icon {
	width: 17px;
	vertical-align: middle;
}

/* Custom, iPhone Retina */
    
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
    
@media only screen and (min-width: 480px) {
.intro .intro-body .brand-heading {
	letter-spacing: 0.6em;
}
}

/* Small Devices, Tablets */
    
@media only screen and (min-width: 768px) {
p {
	margin: 0 0 35px;
	font-size: 20px;
	line-height: 1.6;
}
.single-card {
	padding: 4% 45px 0 45px;
}
.stories-content {
	padding: 0 45px;
}
.text-sm-left {
	text-align: left;
}
.journey-highlight hr {
	margin: 10px 0 20px 0;
	padding-left: 0;
	width: 100%;
	height: 2px;
}
.image-container {
	padding: 1.6em;
}
.intro {
	height: 100%;
	padding: 0;
}
.journey-navbar a {
	color: #fff;
}
.heading-stories {
	padding: 100px;
	line-height: 1.6em;
	font-size: 1.6em;
}
hr {
	margin-left: 0;
	margin-top: 0;
}
.text-sm-left {
	text-align: left;
}
.navbar {
	padding: 20px 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: 0 0;
	position: relative;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
	padding: 0;
	background-color: #000;
}
.journey-navbar.top-nav-collapse {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -moz-flex;
}
}

/* Medium Devices, Desktops */
    
@media only screen and (min-width: 992px) {
.image-container {
	padding-top: 20px;
	position: relative;
	display: table !important;
}
.stories-content:nth-child(1) {
	float: none;
	display: table-cell;
	vertical-align: top;
}
.stories-content:nth-child(2) {
	float: none;
	display: table-cell;
	vertical-align: middle;
}
.stories-content:nth-child(3) {
	float: none;
	display: table-cell;
	vertical-align: bottom;
	margin: 0;
}
.journey-highlight {
	padding-left: 80px;
}
.second-row-boxes div[class*="col"]:nth-child(3) {
	margin-top: 0em;
}
.mountain-grid {
	background: url(../images/story_01.png) no-repeat center center;
	background-size: cover;
}
.sea-grid {
	background: url(../images/story_04.png) no-repeat center center;
	background-size: cover;
}
.intro .intro-body .brand-heading {
	font-size: 4em;
	letter-spacing: 0.6em;
}
}
.demo-2 {
}
.demo-1 {
}

/* Large Devices, Wide Screens */
    
@media only screen and (min-width: 1200px) {
}

/* ---------------------------------------------------------------- */

/*iPad Portrait Mode*/

/* ---------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
/*.intro {
	background: #576E80;
}*/
}

/* ---------------------------------------------------------------- */

/*iPad Landscape Mode*/

/* ---------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
/*.intro {
	background: #C7D7E0;
}*/
}
